/* style.css */

@media (max-width: 600px) {
 #filters {
  display: flex;
  flex-direction: column;
 }
}

.main-media-container {
 display: flex;
 flex-direction: column;
 border: 1px solid #c2c2c2;
 max-width: 1440px;
 margin: 0 auto;
 width: 100%;
}

#filters {
 display: flex;
 justify-content: space-between;
 padding: 10px;
 border-bottom: 1px solid #c2c2c2;
}

.filters_container {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 width: 100%;

 @media screen and (max-width: 420px) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
}

.year_genre_dropdrown_container {
 display: flex;
 flex-direction: column;
 width: 50%;
  @media screen and (max-width: 420px) {
    width: 100%;
   }
}

.btn-dropdown {
 display: flex;
}

.dropdown {
 position: relative;
 display: inline-block;
 width: 35%;
 margin: 3px;
 @media screen and (max-width: 420px) {
   width: 50%;
  }

 .dropbtn {
  background-color: #eee;
  border-bottom: 3px solid grey;
  padding: 10px 30px 20px 5px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 2px;
  color: grey;
  font-weight: bold;
  border-right: none;
  border-top: none;
  border-left: none;
  cursor: pointer;
  width: 100%;
 }

 .dropbtn:focus-visible {
  outline: none;
 }

 .dropbtn::after {
  content: '\002304';
  font-size: 25px;
  position: absolute;
  top: 16px;
  right: 5px;
 }
}

.dropdown-content {
 display: none;
 position: absolute;
 min-width: 200px;
 z-index: 1;
 overflow: auto;
 background-color: #fff;
 border: 1px solid #c2c2c2;
 overflow: auto;
 height: 50vh;

 .filter-container {
  display: flex;
  border-bottom: 1px solid #c2c2c2;
  padding: 20px 5px;
 }

 .filter-container:hover {
  background-color: #80808036;
  cursor: pointer;
 }

 /* Hide the default checkbox */
 input[type="checkbox"] {
  display: none;
 }

 /* Style the label to create a custom checkbox */
 label {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  margin-right: 10px;
  cursor: pointer;
 }

 /* Create the checkbox shape */
 label:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #aaa;
  border-radius: 3px;
  background-color: #fff;
 }

 /* Style the checkbox when checked */
 input[type="checkbox"]:checked+label:before {
  background-color: #fff;
  /* Change this to the desired color */
 }

 /* Create a checkmark inside the checkbox */
 label:after {
  content: "\2714";
  display: none;
  position: absolute;
  left: 2px;
  top: 0;
  color: grey;
 }

 /* Show the checkmark when checkbox is checked */
 input[type="checkbox"]:checked+label:after {
  display: block;
 }
}


#year.dropdown-content {
 min-width: 100px;
}

.dropdown-content label {
 display: block;
 color: grey;
 text-transform: uppercase;
 font-weight: bold;
}

.movies_books_container {
 padding-top: 20px;
 label {
  font-weight: bold;
 }
  @media screen and (max-width: 420px) {
   text-align: center;
   padding-bottom: 20px;
  }
}

.search_clear_container {
 display: flex;
 flex-direction: column-reverse;
 position: relative;
 align-items: flex-end;
 cursor: pointer;
 justify-content: space-between;
  #clear {
   background: none;
    border: none;
    padding: 10px;
    color: #00a5bd;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
  }
  #search {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #eee;
    position: relative;
    cursor: pointer;
  }
  &::after {
    content: '\1F50D';
     display: inline-block;
     position: absolute;
     width: 100%;
     height: 100%;
     top: 10px;
     left: 130px;
     }

    @media screen and (max-width: 420px) {
     align-items: center;
    }
  }


#content {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}

.media_item_content {
 display: flex;
 font-weight: bold;
 padding: 5px;
 flex-direction: column;

 .image-container {
  width: 400px;
  height: 600px;
  overflow: hidden;
   @media screen and (max-width: 420px) {
     width: 100%;
    }

   img {
     width: 100%;
     height: 100%;
     object-fit: cover;
    }
 }

 .info-container {
  p {
   font-size: 10px;

  }
 }
 h2 {
  font-size: 18px
 }

}